.verify-email {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    text-align: center;
}

.verify-email__message {
    width: 720px;
    max-width: 100%;
    margin: 0 auto 40px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.verify-email__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 257px;
    height: 69px;
    margin: 0 auto 20px;
    padding: 0;

    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: #d9d9d9;
    color: #000000;

    font-size: 24px;
    font-weight: 700;
    line-height: 1;

    text-decoration: none;
}
.verify-email__resend {
    border: none;
    background: none;
    color: #0073cc;
    font: 400;
    font-size: 14px;
    list-style: 1;
    cursor: pointer;
}
